MSSQLREST_HOST=localhost
MSSQLREST_PORT=1433
MSSQLREST_DATABASE=mydb
MSSQLREST_USER=sa
MSSQLREST_PASSWORD=
MSSQLREST_ENCRYPT=true
MSSQLREST_SERVER_PORT=3000
MSSQLREST_READONLY=true
MSSQLREST_SCHEMAS=dbo
MSSQLREST_EXCLUDE_TABLES=
MSSQLREST_LOG_LEVEL=info
